@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

$roboto-slab: 'Roboto Slab', serif;

$dusty-blue: #5690A2;
$olive-green: #788E3F;
$dark-grey: #1A242F;
$orange: #FF6633;
$pale-duck-egg: #E3F2F0;

body {
    font-family: $roboto-slab;
    font-weight: normal;
    background: $pale-duck-egg;
    color: $olive-green;
    line-height: normal;
}

#sky {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    .cloud {
        fill: #FFF;
        opacity: 0.8;
    }
}

.jumbotron {
    padding: 20px 0;
    background-color: $pale-duck-egg;
    h1 {
        color: $orange;
        font-size: 5em;
    }
}

.countdown {
    &__intro{
        font-size: 2em;
    }
    &__number{
        color: $dusty-blue;
        font-size: 3em;
    }
}

@media(max-width:768px) {
    .countdown {
        &__line{
            width: 70%;
            margin: 0 auto;
            display: block;
        }
    }
}
    
    

