@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

$quicksand: 'Quicksand', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

$bright-blue: #77CFD0;
$dusty-blue: #5690A2;;
$olive-green: #788E3F;
$light-grey: #F5F5F5;
$dark-grey: #1A242F;
$orange: #FF6633;
$dusty-yellow: #E7B039;
$pale-duck-egg: #E3F2F0;


body {
    font-family: $roboto-slab;
    font-weight: normal;
    background: $pale-duck-egg;
    color: $dark-grey;
}

h1 {
    color: $orange;
    font-size: 5em;
}

.sky{
    fill: #FFF;
}

.jumbotron {
    padding: 20px;
}

.countdown {
    &__number{
        color: $dusty-blue;
        font-size: 2em;
    }
}
